/* Domyślne wartości dla wszystkich selektorów */
* {
    font-family: Georgia, serif;
    text-align: center;
}

/* Wspólne dla banera i stopki */
header, footer {
    background-color: #BA6B6C;
    color: white;
    padding: 7px;
}

/* Blok lewy i prawy */
#lewy, #prawy {
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

/* Blok środkowy */
#srodkowy {
    background-color: MistyRose;
    width: 60%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

/* Blok z danymi */
#dane {
    background-color: MistyRose;
    padding: 50px;
}

/* Lista numerowana */
ol {
    list-style-type: upper-roman;
}

/* Element listy */
li {
    text-align: left;
}

/* Pierwsza litera nagłówka drugiego stopnia */
h2::first-letter {
    font-size: 170%;
    color: Maroon;
}

/* Tabela */
table {
    margin: auto;
    width: 80%;
    border: 1px solid Maroon;
}

/* Obraz */
img {
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px DimGray;
}
